{{- if and .Values.autoscaling.enabled (eq .Values.autoscaling.type "scaledobject" ) }}
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: {{ include "application-core.fullname" . }}
  labels:
    {{- include "application-core.labels" . | nindent 4 }}
  annotations:
    {{- include "application-core.annotations" $ | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "application-core.fullname" . }}
  pollingInterval: 30
  cooldownPeriod: 300
  minReplicaCount: {{ .Values.autoscaling.minReplicas }}
  maxReplicaCount: {{ .Values.autoscaling.maxReplicas }}
  triggers:
    {{- if .Values.autoscaling.targetCPUUtilizationPercentage }}
    - type: cpu
      metricType: Utilization
      metadata:
        value: {{ .Values.autoscaling.targetCPUUtilizationPercentage | quote }}
    {{- end }}
    {{- if .Values.autoscaling.targetMemoryUtilizationPercentage }}
    - type: memory
      metricType: Utilization
      metadata:
        value: {{ .Values.autoscaling.targetMemoryUtilizationPercentage | quote }}
    {{- end }}
{{- end }}
